<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h2>Dashboard</h2>
    <!-- <button mat-flat-button color="warn">Latest Reports</button> -->

    <dx-button
        type="default"
        (onClick)="prueba()"
        text="Click me">
    </dx-button>
  </mat-toolbar>

  <!-- <div class="charts-wrapper">
    <div class="chart">
      <app-visits-chart [visitsChartData]="visitsChartData$ | async"></app-visits-chart>
    </div>
    <div class="chart">
      <app-performance-chart [performanceChartData]="performanceChartData$ | async"></app-performance-chart>
    </div>
    <div class="chart">
      <app-server-chart [serverChartData]="serverChartData$ | async"></app-server-chart>
    </div>
    <div class="chart">
      <app-revenue-chart [revenueCharData]="revenueChartData$ | async"></app-revenue-chart>
    </div>
  </div> -->

  <mat-card-content class="typography-content" *ngIf="point">
    <div class="typography-content__wrapper">
      <mat-card class="typography-content__item-wrapper">
        <div>
          <strong>Precio: </strong>{{point.open_price}}<br>
          <strong>Fecha: </strong>{{point.timeF | date: 'yyyy-MM-dd HH:mm'}}<br>
          <strong>Accion: </strong>{{point.accion}}<br>
          <strong>Regresion Lineal (m): </strong>{{point.eval_lineal.pendiente }}<br>
          <strong>Regresion Lineal (coef): </strong>{{point.eval_lineal.coeficiente }}<br>
          <strong>Regresion Cuadratica (m): </strong>{{point.eval_cuadratica.funcion[0] }}<br>
          <strong>Regresion Cuadratica (coef): </strong>{{point.eval_cuadratica.coeficiente }}<br>
          <strong>Sub Regresion Cuadratica (m): </strong>{{point.sub_eval_cuadratica.funcion[0] }}<br>
          <strong>Sub Regresion Cuadratica (coef): </strong>{{point.sub_eval_cuadratica.coeficiente }}<br>
        </div>
      </mat-card>
    </div>
  </mat-card-content>

  <mat-card-content class="typography-content">
    <div class="typography-content__wrapper">
      <mat-card class="typography-content__item-wrapper">
        <!-- <dx-chart
          id="chart"
          [dataSource]="data"
          title="Pruebas"
          [customizePoint]="customizePoint"
          [customizeLabel]="customizeLabel"
          (onPointClick)="pointClick($event)"
        >
          <dxi-series
            argumentField="timeF"
            valueField="price"
            type="spline"
            color="#a3aaaa"
          >
          <dxo-point size="8" [visible]="true"></dxo-point>
          </dxi-series>
          <dxi-series
            argumentField="timeF"
            valueField="accion_price"
            type="scatter"
            color="#a3aaaa"
          ></dxi-series>
          
          <dxo-crosshair [enabled]="true" color="#949494" [width]="3" dashStyle="dot">
            <dxo-label [visible]="true" backgroundColor="#949494">
            <dxo-font color="#fff" [size]="12"> </dxo-font>
            </dxo-label>
          </dxo-crosshair>
          <dxo-legend [visible]="false"></dxo-legend>
        </dx-chart> -->
        <dx-chart id="chart"
        title="Pruebas"
        (onPointClick)="pointClick($event)"
        [customizePoint]="customizePoint"
        [customizeLabel]="customizeLabel" [dataSource]="data">
        <dxo-zoom-and-pan
    valueAxis="both"
    argumentAxis="both"
    [dragToZoom]="true"
    [allowMouseWheel]="true"
    panKey="shift"
  ></dxo-zoom-and-pan>
          <dxi-series
            argumentField="time" 
            type="candlestick"
            name="precio"
            openValueField="open_price"
            highValueField="max"
            lowValueField="min"
            closeValueField="price"
          >
            <dxo-reduction color="red"></dxo-reduction>
          </dxi-series>
          <dxi-series
            argumentField="time"
            valueField="accion_price"
            type="scatter"
            color="#a3aaaa"
          ><dxo-point size="8" [visible]="true"></dxo-point>
        </dxi-series>
          <!-- <dxo-common-series-settings argumentField="time" type="candlestick">
          </dxo-common-series-settings> -->
          <!-- <dxo-legend itemTextPosition="left"></dxo-legend>
          <dxi-value-axis [tickInterval]="1">
            <dxo-title text="US dollars"></dxo-title>
            <dxo-label>
              <dxo-format type="currency" [precision]="0"> </dxo-format>
            </dxo-label>
          </dxi-value-axis>
          <dxo-argument-axis [workdaysOnly]="true">
            <dxo-label format="shortDate"></dxo-label>
          </dxo-argument-axis>
          <dxo-export [enabled]="true"></dxo-export> -->
        </dx-chart>
      </mat-card>
    </div>
  </mat-card-content>

  <!-- <app-daily-line-chart [dailyLineChartData]="dailyLineChartData$ | async"></app-daily-line-chart>

  <app-project-stat-chart [projectsStatsData]="projectsStatsData$ | async"></app-project-stat-chart>

  <app-support-requests [supportRequestData]="supportRequestData$ | async"></app-support-requests> -->

  <app-footer></app-footer>
</app-layout>
